@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font: 14px 'Ubuntu', sans-serif;
}

.help-block{
    font-size: 80%;
}

#top-menu-main{
  .navbar-inverse {
    background-color: #f2f2f2;
    border: none;
  }
  .navbar-inverse .navbar-brand {
    color: #1485CC;
    font-size: 20px;
  }
  .navbar-inverse .navbar-brand:hover {
    color: #1485CC;
  }
  .navbar-inverse .navbar-brand:active {
    color: #1485CC;
  }
  .navbar-inverse .navbar-brand:focus {
    color: #1485CC;
  }
  .navbar-inverse .navbar-brand:visited {
    color: #1485CC;
  }
  .navbar-inverse .navbar-nav > li > a {
    color: #4F4F4F;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
  }

  .navbar-inverse .navbar-nav > li > a:hover {
    color: #4F4F4F;
    border-bottom: 2px solid #1485CC;
  }
  .navbar-inverse .navbar-nav > li > .language-choise:hover {
    border: none;
  }

  .navbar-inverse .navbar-nav > li > a:focus {
    color: #4F4F4F
  }
  .navbar-inverse .navbar-nav > li > a:hover {
    color: #1485CC;
  }
  .navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000000;
  }

  .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
  }

  .navbar-inverse .navbar-collapse {
    border: none;
  }
  .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav > li > .language-choise:hover {
    border: none;
  }
  .navbar-inverse .navbar-nav > .open > a {
    background-color: transparent;
  }
  #top-menu-main .navbar-inverse .navbar-nav > li > a{
    outline:none;
  }
}
#top-menu-main .navbar-inverse .navbar-nav > li > a:focus{
  outline:none;
}
.android-app {

  background-image: url(../img/phone-moquap14.png);
  background-size: cover;
  background-position: left;
  padding: 10% 0;
  margin: 90px 0 0;;
  li {
    position: relative;
    list-style: none;
    font: 18px 'Ubuntu', sans-serif;
    line-height: 36px;
  }
  li::before {
    content: "";
    width: 30px;
    height: 30px;
    background-image: url("../img/placeholder.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -40px;
    animation: animateicon 7s linear 2s infinite alternate;
  }
  #moquaps-phone {
    img {
      width: 100%;
    }
  }
  .download-app img {
    width: 198px;
    height: 75px;

  }
  h2 {
    color: #1485CC;
    font: 24px 'Ubuntu', sans-serif;
    margin-bottom: 40px;
  }
  p {
    font: 700 18px 'Ubuntu', sans-serif;
    margin-bottom: 30px;
  }
  #container-button-download {
    max-width: 57%;
    float: right;
    padding-right: 20px;
    margin-top: -81px;
  }
}
#map{
  height: 1px;
  margin-top: -1px;
}


footer {
  background-color: #4F4F4F;

  h2 {
    margin: 0;
    text-align: center;
    color: #fffffF;
    padding: 20px;
  }
}
#modalpopuplogin{
outline:none;
cursor:pointer;
}
#modal-login-form{
  .modal-header{
    border: none;
  }
.img-form-login{
  background-image: url(../img/Park_03a_4.png);
  background-size: cover;
  height: 100%;
  padding: 10% 2%;
}
  .modal-body{
    padding: 0;
    height: 100%;
  }
  .modal-header {
    padding: 8px;
  }
  .container-fluid{
    height: 100%;
    margin-top: -3%;
  }
  .row{
    height: 100%;
  }
  h1{
    font: 36px 'Ubuntu', sans-serif;
    color:#1485CC;;
    text-align: center;
  }
  h2{
    font: 18px 'Ubuntu', sans-serif;
    color:#1485CC;
  }
  p{
    color: black;
    text-align: center;
}
  .sign-in-btn{
    border:1px solid #8492A6;
    font-weight: 500;
  }
  .form-control{
    margin-top: 20px;
  }
  #sign-up{
    border:1px solid #8492A6;
    font-weight: 500;
  }
  #sign-in:hover{
    background-color: transparent;
  }
  #sign-up:hover{
    background-color: transparent;
  }
  strong{
    font: 10px 'Ubuntu', sans-serif;
  }
  .container-login-form{
    margin-top: 2%;
  }
  .container-for-register-user{
    margin-top: 2%;
    margin-left: 2%;
    border-left: 1px solid #1485CC;
    padding-left: 3%;
  }
}
#modal-write-us{
  .modal-header{
    border: none;
    padding: 0;
    margin-bottom: -2%;
    button{
      outline: none;
    }
  }
  .modal-content{
    padding:2%;
  }
  h2{
    font: 18px 'Ubuntu', sans-serif;
    color:#1485CC;
    margin-bottom: 30px;
  }
  .modal-body{
    padding: 0 15px;
  }
  textarea{
    margin-top: 20px;
  }

  .form-btn-contactus{
    width: 139px;
    height: 35px;
    background-color:#1485CC;
    color:#F2F2F2;
    margin-top: 20px;
  }
  .send-info-about-us{
    margin-top: 20px;
  }
}

#checkyouradress{
  .modal-header {
    border: none;
    padding: 0;
    margin-bottom: -2%;
    button{
      outline:none;
    }
  }
  .modal-dialog{
    margin:0 auto;
  }
  .icon-water {
    width: 10px;
    height: 15px;
    background: #b3b3b3;
    border-radius: 2%;
  }

  .icon-lamp {
    width: 10px;
    height: 15px;
    background: #ffb366;
    border-radius: 2%;
  }

  .icon-gas {
    width: 10px;
    height: 15px;
    background: #cca300;
    border-radius: 2%;
  }
  .table > tbody > tr > th {
    border: none;
  }

  .table-hover > tbody > tr:hover {
    background-color: transparent;
  }

  .table > tbody > tr > th {
    color: #8492A6;


  }
  p{
    color: #8492A6;

  }
  h2{
    color: #8492A6;
    font: 14px 'Ubuntu', sans-serif;
    font-weight: 700;
  }
  h3{
    color: #8492A6;
    font: 14px 'Ubuntu', sans-serif;
    border-top: 1px solid  #8492A6 ;
    padding-top: 10px;
  }
  li {
    list-style-type:none;

    color: #8492A6;
  }
  li:before {
    content:"\2014\0020";
  }
  .login-modal{
    background-color:#1485CC;
    color:#F2F2F2;

    margin-top: 20px;
    margin-right: 20px;
  }
  .login-modal:hover{
    background-color:#1485CC;
    color:#F2F2F2;
}
  h4{
    color: #8492A6;
    font: 16px 'Ubuntu', sans-serif;
    font-weight: 700;
  }
}
#link-about-us{
  width:100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media only screen and (max-width: 800px) {
  #modal-login-form .container-for-register-user {
    border-left: none;
  }

  strong{
    font: 12px 'Ubuntu', sans-serif;
  }
}
@media only screen and (max-width: 800px) {
    .send-info-about-us {
      width: 131px;;
      height: 30px;
      font: 12px 'Ubuntu', sans-serif;
    }
  }

@media only screen and (max-width: 520px) {
  #link-about-us{
    .send-info-about-us{
      width: 120px;
      height: 30px;
    }
    }
  }


.container-search {
  position: relative;
}

#check-adress-main{

  position: absolute;
  z-index: 10;
  top: 55px;
  left: 30px;
  width: 350px;
  height: 30px;
  background-color: #1485CC;
  color: #F2F2F2;
  border-color: #1485CC;
  border-radius: 5px;

    .spinner{
    height: 20px;
    margin-right: 5px;
  }
}
.gm-style-mtc{
  display: none;
}

@media screen and (max-width: 1054px){
  .android-app {
    li{
      font: 14px 'Ubuntu', sans-serif;
      line-height: 34px;
    }
    h2{
      font: 18px 'Ubuntu', sans-serif;

    }
    p {
      font: 700 16px 'Ubuntu', sans-serif;
    }
  }
}





@media screen and (max-width:360px){
  #check-adress-main {
    position: absolute;
    z-index: 10;
    top: 55px;
    left: 17px;
    width: 291px;
    height: 30px;
    background-color: #1485CC;
    color: #F2F2F2;
    border-color: #1485CC;
    border-radius: 5px;
  }
  .container-search input{
    width: 291px !important;
    height: 30px;
    position: absolute;
    top: 20px;
    left: -14px !important;
    margin-left: 30px;
    z-index: 0;
  }
  .arrow-scroll-up{
    width:40px;
  }
}

@media screen and (max-width:825px){
  .android-app {
    background-image: url("../img/background-for-small-screen.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 50px 0 0;
    padding: 0;
    #container-button-download {
      max-width: 100%;
      float: none;
      padding: 5%;
      margin-top: 0;
    }

    li{
          font: 14px 'Ubuntu', sans-serif;
          line-height: 31px;
        }
    }
  }

@media screen and (max-width:600px){
  .android-app{
    margin: 20px 0 0;
  }
}


@keyframes animateicon {
  0% {
    transform: rotateY(20deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
@media screen and (max-width:760px) {
  #modal-login-form .img-form-login{
    padding: 25% 16%;
  }

}
@media screen and (max-width:764px) {
  #modal-login-form .form-control{
    width: 99%;
  }
  .navbar-inverse .navbar-nav > li > a:hover{
    border:none;
  }
  .navbar-inverse .navbar-nav > li > a{
    text-align: center;
  }
}
@media screen and (max-width:767px) {
  #modal-login-form .container-fluid {
    margin-top: 0;
  }
}