.slider-main-page {
  $font: 'Source Sans Pro', sans-serif;
  $color-alpha: #d0f2ee;
  $color-black: #000;
  $color-grey: #a9b1b3;
  $color-white: #fff;
  $mq-xs: 20em;
  $mq-sm: 30em;
  $mq-md: 54em;
  $mq-lg: 64em;
  $mq-xl: 76.5em;
  $mq-xxl: 114em;

  /**
   * Mixins
   */
  @mixin nth-animation-delay($items: 5, $time: 0.1s) {
    @for $i from 1 through $items {

      &:nth-child(#{$i}) {
        animation-delay: $time * $i;
      }
    }
  }

  /**
   * Base Settings/Overwrite Normalize
   */
  *{
    box-sizing: border-box;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 1.8em;
    font-family: Ubuntu, sans-serif;
    font-size: 2em;
    font-weight: 900;
    line-height: 0.9;
    color: #8492A6;
  }

  p {
    margin: 0;
    font-family: Ubuntu, sans-serif;
    color: #8492A6;
    line-height: 24px;
  }
  li {
    margin: 0;
    font-family: Ubuntu, sans-serif;
    color: #8492A6;
    line-height: 24px;
  }

  a {
    padding: 0.5em 1em;
    font-size: 0.8em;
    color: $color-grey;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    border: 1px solid $color-grey;
    transition: all 0.3s ease-in;

    &:hover,
    &:active,
    &:focus {
      color: $color-white;
      background-color: $color-grey;
    }
  }

  figure {
    margin: 0;
  }

  /**
   * Text Selection
   */
  ::selection {
    color: $color-white;
    background-color: $color-alpha;
    text-shadow: none;
  }

  /**
   * Body
   */
  body {
    font-size: 100%;
    line-height: 1.6;
    color: $color-black;
    background-color: $color-white;

    @media (min-width: $mq-xs) {
      font-size: 102.5%;
    }

    @media (min-width: $mq-sm) {
      font-size: 105%;
    }

    @media (min-width: $mq-md) {
      font-size: 107.5%;
    }

    @media (min-width: $mq-lg) {
      font-size: 110%;
    }

    @media (min-width: $mq-xl) {
      font-size: 115%;
    }

    @media (min-width: $mq-xxl) {
      font-size: 125%;
    }
  }

  /**
   * Components
   */
  .post {
    padding: 25px 0;
    min-height: 100vh;
    width: 100%;

    border: 0.5em solid $color-white;

    @media (min-width: $mq-md) {
      display: flex;
      height: 85vh;
      min-height: 40em;
    }

    & > *:first-child {
      position: relative;

      height: 14em;

      @media (min-width: $mq-sm) {
        height: 18em;
      }

      @media (min-width: $mq-md) {
        flex-basis: 50%;
        max-width: 50%;
        height: auto;
      }

      @media (min-width: $mq-xl) {
        flex-basis: 60%;
        max-width: 60%;
      }
    }

    & > *:last-child {

      @media (min-width: $mq-md) {
        flex-basis: 72%;
        max-width: 47%;
      }

      @media (min-width: $mq-xl) {
        flex-basis: 72%;
        max-width: 47%;
      }
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 1em;

      overflow-y: auto;
    }

    &__category {
      position: relative;
      font-weight: 600;
      font-size: 0.9em;
      text-transform: uppercase;
      letter-spacing: 0.3em;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;

        height: 2px;
        width: 3em;
        animation: slide-in 1s ease-in both 0.5s;
      }
    }

    &__content {
      padding: 3em 0;

      @media (min-width: $mq-md) {
        padding: 2em;
      }
    }

    &__time {
      display: inline-block;
      margin-bottom: 0.5em;

      font-weight: 600;
      font-size: 0.8em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }

    &__header {
      overflow: hidden;
      color:#1485CC;
      font: 24px 'Ubuntu', sans-serif;


      span {
        @include nth-animation-delay();

        display: inline-block;

        animation: slide-up 2s ease-in-out both;
      }
    }

    &__text {
      font-weight: 300;
      animation: fade-in 2s ease-in-out both 2s;
      color: #8492A6;
      font: 18px 'Ubuntu', sans-serif;
      line-height:36px;
    }

    &__link {
      text-align: right;
    }
  }

  /**
   * Helpers
   */
  .absolute-bg1{
    position: absolute;
    top: 31px;
    left: 86px;
    height: 100%;
    width: 87%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    animation: fade-in 2s ease-in-out both 2s;
  }
  .absolute-bg2{
    @extend .absolute-bg1;
  }
  .absolute-bg3{
    @extend .absolute-bg1;
  }
  .absolute-bg1 {
    background-image: url("../img/WhatisCityElf.png");
    background-size: contain;
  }
  .absolute-bg2{
    background-image: url("../img/team.png");
    background-size: contain;
  }
  .absolute-bg3 {
    background-image: url("../img/social-network-people.png");
    background-size: contain;
  }
  article{
    position: relative;
  }
  article::before{
    content: "";
    background-image: url(../img/small-city.png);
    position: absolute;
    background-size: cover;
    width: 400px;
    height: 400px;
    top: 43%;
    right: 0;
    opacity: 0.2;
    z-index: 100;
  }
  .send-info-about-us{
    width: 160px;
    height: 35px;
    background-color:#1485CC;
    color:#F2F2F2;
    margin-top: 30px;
    font-size: 16px;
  }
  .btn-default:active:hover{
    background-color:#1485CC;
  }
  .button{
    position: absolute;
    width: 170px;
  }
  .slick-dots li button::before{
    font-size: 18px;
    left:36px;

  }
}
@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.our_name{
  font: 16px 'Ubuntu', sans-serif;
  color:#1485CC;
}
@keyframes animateicon {
  0% {
    transform: rotateY(20deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}